# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.idea/
.idea/*
.idea_/*


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
.idea/misc.xml
/cs544-202403-project/src/main/resources/application.yml
application.yml
.idea/*
cs544-202403-project/src/main/resources/application.yml

### VS Code ###
.vscode/

### config file ###
#application.yml
